In [1]:
import pandas as pd
import numpy as np

In [2]:
!pip install sqlalchemy
!pip install html5lib

Collecting sqlalchemy
  Downloading SQLAlchemy-1.4.41-cp37-cp37m-win_amd64.whl (1.6 MB)
     ---------------------------------------- 1.6/1.6 MB 1.3 MB/s eta 0:00:00
Collecting importlib-metadata
  Downloading importlib_metadata-5.0.0-py3-none-any.whl (21 kB)
Collecting greenlet!=0.4.17
  Downloading greenlet-1.1.3.post0-cp37-cp37m-win_amd64.whl (101 kB)
     -------------------------------------- 101.6/101.6 kB 2.9 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions>=3.6.4 in c:\users\desardi131\appdata\local\programs\python\python37\lib\site-packages (from importlib-metadata->sqlalchemy) (4.3.0)
Collecting zipp>=0.5
  Downloading zipp-3.9.0-py3-none-any.whl (5.8 kB)
Installing collected packages: zipp, greenlet, importlib-metadata, sqlalchemy
Successfully installed greenlet-1.1.3.post0 importlib-metadata-5.0.0 sqlalchemy-1.4.41 zipp-3.9.0
Collecting html5lib
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     -------------------------------------- 112.2/112.2 kB 3.3 MB/s eta 0:00:00
Requirement already satisfied: six>=1.9 in c:\users\desardi131\appdata\local\programs\python\python37\lib\site-packages (from html5lib) (1.16.0)
Collecting webencodings
  Downloading webencodings-0.5.1-py2.py3-none-any.whl (11 kB)
Installing collected packages: webencodings, html5lib
Successfully installed html5lib-1.1 webencodings-0.5.1

In [3]:
pwd

'c:\\Users\\desardi131\\Documents\\GitHub\\DS_Udemy\\Pandas'

## CSV

In [5]:
pd.read_csv('C:/Users/desardi131/Documents/GitHub/DS_Udemy/Refactored_Py_DS_ML_Bootcamp-master/03-Python-for-Data-Analysis-Pandas/example')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [6]:
df = pd.read_csv('C:/Users/desardi131/Documents/GitHub/DS_Udemy/Refactored_Py_DS_ML_Bootcamp-master/03-Python-for-Data-Analysis-Pandas/example')

In [8]:
df.to_csv('My_output',index=False)

In [9]:
pd.read_csv('My_output')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [14]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
     -------------------------------------- 242.1/242.1 kB 4.9 MB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10

In [17]:
dfx = pd.read_excel('C:/Users/desardi131/Documents/GitHub/DS_Udemy/Refactored_Py_DS_ML_Bootcamp-master/03-Python-for-Data-Analysis-Pandas/Excel_Sample.xlsx',sheet_name='Sheet1')

In [24]:
dfx

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [25]:
df.to_excel('Excel_Sample2.xlsx',sheet_name='Newsheet')

In [27]:
data = pd.read_html('https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/')

In [28]:
type(data)

list

In [30]:
data[0].head()

,Bank NameBank,CityCity,StateSt,CertCert,Acquiring InstitutionAI,Closing DateClosing,FundFund
0,Almena State Bank,Almena,KS,15426,Equity Bank,"October 23, 2020",10538
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb","October 16, 2020",10537
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.","April 3, 2020",10536
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,"February 14, 2020",10535
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019",10534

In [31]:
from sqlalchemy import create_engine

In [32]:
engine = create_engine('sqlite:///:memory:')

In [34]:
df.to_sql('my_table',engine)

In [35]:
sqldf = pd.read_sql('my_table',con = engine)

In [36]:
sqldf

   index   a   b   c   d
0      0   0   1   2   3
1      1   4   5   6   7
2      2   8   9  10  11
3      3  12  13  14  15